.weight__title{
  font-family: 'introRegularAlt';
  font-weight: 1000;
  font-size: 34px;
  color: #626161;
  text-align: center;
}

.weight__subtitle {
  font-family: 'introLight';
  font-size: 22px;
  font-weight: 300;
  color: #626161;
  text-align: center;
}

.weight__form {
  width: 978px;
  height: 396px;
  border-radius: 3px;
  background: linear-gradient(to top, #21d0e2, #1bbad8);
  padding: 50px 125px;
  margin-top: 30px;
}
